<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/icons.css">
    <title>Dashboard - Lists</title>
</head>

<body>
    <div class="dashboardList">
        <article id="recents" class="cardList shadowCard">
            <h1>Recentes</h1>
            <ul class="cards">
                <li class="card shadowCardRounded">
                    <a href="./">
                        <i class="boxWhiteGradientUp"></i>
                        <h2>
                            DRE FINANCEIRO
                        </h2>
                        <img src="../assets/DRE_min.png" alt="dashboard">

                    </a>
                </li>
                <li class="card shadowCardRounded">
                    <a href="./">
                        <i class="boxWhiteGradientUp"></i>
                        <h2>
                            OPERACIONAL
                        </h2>
                        <img src="../assets/visãoGeral_min.png" alt="dashboard">

                    </a>
                </li>
                <li class="card shadowCardRounded">
                    <a href="./">
                        <i class="boxWhiteGradientUp"></i>
                        <h2>
                            VISÃO EXPRESSA
                        </h2>
                        <img src="../assets/visaoExpressa_min 1.jpg" alt="dashboard">

                    </a>
                </li>
            </ul>
        </article>

        <article id="starred" class="cardList shadowCard">
            <h1>Favoritos</h1>
            <ul class="cards">
                <li class="card shadowCardRounded">
                    <a href="./">
                        <i class="boxWhiteGradientUp"></i>
                        <h2>
                            DRE FINANCEIRO
                        </h2>
                        <img src="../assets/DRE_min.png" alt="dashboard">

                    </a>
                </li>
            </ul>
        </article>
    </div>

</body>

</html>