nav.breadcrumb {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
}

nav.breadcrumb ul {
    display: flex;
    flex-direction: row;
    line-height: 0;
    align-items: center;
}

nav.breadcrumb li.home, nav.breadcrumb li.title {
    display: flex;
    flex-direction: row;
    line-height: 0;
    align-items: center;
}

nav.breadcrumb li+li::before {
    content: url(../assets/breadcrumb_arrows.svg);
    margin-right: 12px;
}

nav.breadcrumb li a {
    color: #3B3D3F;
}

nav.breadcrumb li.title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #3B3D3F;
    margin-left: 12px;
}

nav.breadcrumb li a:hover {
    color: #000000;
    cursor: pointer;
}