body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
}

#loginBox {
    display: flex;
    flex-direction: column;
    width: 299px;
    height: 390px;
    background: #FFFFFF;
    box-shadow: 0px 0px 35px 2px rgb(0 0 0 / 18%);
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 40px 40px 32px;
}

#loginBox form {
    display: flex;
    flex-direction: column;
}

#loginBox form div.input {
    display: flex;
    flex-direction: row;
    width: 100%;
    filter: contrast(0);
    transition: .4s;
}

#loginBox form div.input i {
    position: absolute;
    align-self: center;
    margin: 0 0 0 12px;
}

#loginBox form div.input:focus-within {
    filter: contrast(1);
}

#loginBox form div.input input {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0);
    border-radius: 0;
    outline: none;
    transition: 0.1s;
    padding: 0 36px;
}

#loginBox form div.input+div.input {
    margin-top: 24px;
}

#loginBox form div.input input:focus {
    box-shadow: inset 0px 0px 6px rgba(49, 94, 169, 0.32), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.72);
}

#loginBox form .enterBtn {
    width: 100px;
    height: 40px;
    align-self: center;
    background-color: #315EA9;
    color: #EBEBEB;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    border: none;
    border-radius: 0;
    transition: .2s;
    margin-top: 24px;
}

#loginBox form .enterBtn:hover {
    cursor: pointer;
    background-color: #264780;
}

#loginBox a {
    align-self: flex-end;
}

#loginBox a p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}

.footerLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerLogin h2 {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 0 8px 0 0;
}