div.sidebarComponent {
    display: flex;
    flex-direction: row;
}

button[type="button"].sidebarToogler {
    width: 16px;
    height: 40px;
    order: 2;
    align-self: center;
    transform: translateX(-8px);
    background: #FFFFFF;
    box-shadow: 4px 0px 4px -3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

button[type="button"].sidebarToogler.hidded {
    transform: translateX(-218px);
    transition: .2s;
}

button[type="button"].sidebarToogler.hidded i.hidded {
    transform: rotate(180deg);
    transition: .2s;
}

#Sidebar {
    display: flex;
    flex-direction: column;
    width: 218px;
    height: 100vh;
    padding: 28px 24px 0;
    transition: .2s;
}

#Sidebar.hidded {
    transform: translateX(-224px);
    transition: .2s;
}

div.profile {
    align-self: center;
    width: 170px;
    padding: 24px 0;
}

div.profile h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #3B3D3F;
}

div.profile h2 {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #3B3D3F;
}

nav.navbars {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
}

.caret {
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    transition: .2s;
    align-items: center;
    height: 32px;
    position: relative;
}

span.caret {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    flex-grow: 1;
    color: #3B3D3F;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.nested li {
    user-select: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    transition: .2s;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #2C2C2C;
}

ul.nested li+li {
    margin-top: 8px;
}

ul.nested li a {
    text-decoration: none;
    color: #2C2C2C;
}

ul.nested li a:visited {
    text-decoration: none;
    color: #2C2C2C;
}

ul.nested li a:hover {
    text-decoration: underline #808080;
    color: #0C0C0C
}

ul.nested li a.selected {
    text-decoration: underline;
    color: #2C2C2C;
}

ul.nested li::before {
    content: url("../assets/listArrowsvg.svg");
    line-height: 0;
    padding: 0 4px 0 0;
}

.caret::after {
    content: url("../assets/carret_arrow.svg");
    transition: .2s;
    padding: 0 12px;
    line-height: 0;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate( 180deg);
    transform: rotate( 180deg);
    position: absolute;
    right: 0;
}

.caret-down::after {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .2s;
}

.nested {
    display: none;
    opacity: 0;
    transform: translatey(-48px);
    transition: .2s;
}

.nested.active {
    opacity: 1;
    display: block;
    transform: translatey(0px);
    transition: .2s;
    transition-delay: 1s;
    padding: 0 18px 16px;
}

footer.opts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 32px;
    flex-grow: 1;
}