<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/breadcrumb.css">
    <link rel="stylesheet" href="../css/icons.css">
    <title>Breadcrumb</title>
</head>

<body>
    <nav class="breadcrumb">
        <ul>
            <li class="home">
                <a href="./">
                    <i class="homeIcon"></i>
                </a>

            </li>
            <li class="title">
                <a href="./">
                    <p>
                        FINANCEIRO
                    </p>
                </a>
            </li>
            <li class="title">
                <a href="./">
                    <p>
                        DRE
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>